.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.spinner-grow {
  width: 12em;
  height: 12em;
}

.spinner-text {
  margin-top: 20px;
  font-size: 2rem;
}
